[Unit]
Description=Send alerts on low battery

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/bin/bash %h/.scripts/system/low-battery-monitor.sh
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
