*
!.gitignore
!.githooks/
!.githooks/**
!home/
!home/.zshrc
!home/.clang-format
!home/.clang-tidy
!home/.gitconfig
!home/.ruff.toml
!home/.style.yapf
!home/.config/
!home/.config/starship.toml
!home/.config/i3
!home/.config/i3/**
!home/.config/polybar
!home/.config/polybar/**
!home/.config/wal
!home/.config/wal/**
!home/.config/rofi
!home/.config/rofi/**
!home/.config/nvim
!home/.config/nvim/**
!home/.config/tmux
!home/.config/tmux/**
!home/.config/alacritty/
!home/.config/alacritty/alacritty.toml
!home/.scripts/
!home/.scripts/**
!home/.shell/
!home/.shell/**
!home/.system/
!home/.system/**

home/.scripts/cowsay/joke-dataset
home/.config/polybar/launch_log.txt
home/.config/nvim/lazy-lock.json
home/.user_environment_variables
