*
!home/
!home/.config/
!home/.config/starship.toml
!home/.config/i3
!home/.config/i3/**
!home/.config/polybar
!home/.config/polybar/**
!home/.config/wal
!home/.config/wal/**
!home/.config/rofi
!home/.config/rofi/**
!home/.config/nvim
!home/.config/nvim/**
!home/.config/tmux
!home/.config/tmux/**
!home/.scripts/
!home/.scripts/**
!home/.shell/
!home/.shell/**

home/.scripts/cowsay/joke-dataset
home/.config/polybar/launch_log.txt
home/.config/nvim/lazy-lock.json
home/.user_environment_variables
