*
!home
!home/.config/
!home/.config/i3
!home/.config/i3/**
!home/.config/polybar
!home/.config/polybar/**
!home/.config/wal
!home/.config/wal/**
!home/.config/rofi
!home/.config/rofi/**
!home/.config/compton
!home/.config/compton/**
!home/.config/nvim
!home/.config/nvim/**
!/home/.scripts/
!/home/.scripts/**

home/.scripts/cowsay/joke-dataset
home/.config/polybar/launch_log.txt
