[include]
    path = ~/.gituserconfig

[alias]
    st = status
    co = checkout
    cop = "!f() { git checkout \"$1\" && git pull; }; f"
    ci = commit
    ch = cherry-pick
    br = branch
    pullr = pull --recurse-submodules
[init]
	defaultBranch = main
