[include]
    path = ~/.gituserconfig

[alias]
    st = status
    co = checkout
    ci = commit
    ch = cherry-pick
    br = branch
    pullr = pull --recurse-submodules
[core]
	hooksPath = ~/.githooks
[init]
	defaultBranch = main
