[Unit]
Description=Send alerts on low battery

[Service]
#User=rolfsievert
Type=simple
Environment=DISPLAY=:0
ExecStart=%h/.scripts/system/low-battery-monitor.sh
Restart=always
RestartSec=200

[Install]
WantedBy=default.target
