[Unit]
Description = Lock screen when going to sleep/suspend
Before=sleep.target
Before=suspend.target
Before=hibernate.target

[Service]
#User=rolfsievert
Type=forking
Environment=DISPLAY=:0
ExecStart=%h/.scripts/lock.sh
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
WantedBy=hibernate.target
